.vis-container {
    width:100%;
    text-align:center;
    padding-left: 3%;
}


body{
   background-color: #010402;
}

.page {
    width: 1080px;
    margin: auto;
    background-color: aliceblue;
    padding: 40px;
    padding-top: 30px;
    border-width: 2px solid black;

}

h1 {
    text-align: center;
    color: #527298;
    font-size: 40px;
}

p {
    color: black;
    font-size: 16px;
}

#c-align {
    text-align: center;

    /* to set the border*/
}

.db_text {
    color: darkblue;
}

.sil_text {
    color: darkslategrey;
}

.dr_text {
    color: red;
}

.smol_text{
    color:grey;
    font-size:10px;
    text-align: center;
}